<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134249746091-rhqhuf9chg41p6h6n9lmoedeqbaj2nub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134249746091-rhqhuf9chg41p6h6n9lmoedeqbaj2nub</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>134249746091-3j2u7p953qtc1m5l7dbiq5k8prr5515k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBkMX_omEF6B1g8egyUQuwyhx55E2LJewg</string>
	<key>GCM_SENDER_ID</key>
	<string>134249746091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ezest.EnrichTMA</string>
	<key>PROJECT_ID</key>
	<string>enrich-tma</string>
	<key>STORAGE_BUCKET</key>
	<string>enrich-tma.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134249746091:ios:eebeae9b8426ea812ff1ee</string>
	<key>DATABASE_URL</key>
	<string>https://enrich-tma.firebaseio.com</string>
</dict>
</plist>