<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047699289740-90l0b73pbkushum747e5hluh5pfnjd9p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047699289740-90l0b73pbkushum747e5hluh5pfnjd9p</string>
	<key>API_KEY</key>
	<string>AIzaSyBCCkZV7NCp5VVe1kI8X2Sgmzte-gsZX4E</string>
	<key>GCM_SENDER_ID</key>
	<string>1047699289740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.EnrichSalon.TMA</string>
	<key>PROJECT_ID</key>
	<string>enrich-tma-7a2d8</string>
	<key>STORAGE_BUCKET</key>
	<string>enrich-tma-7a2d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047699289740:ios:3683372d16a1feb4df2da9</string>
	<key>DATABASE_URL</key>
	<string>https://enrich-tma-7a2d8.firebaseio.com</string>
</dict>
</plist>